.images{

    width:100%;
    height: 100%;

}

.Million_Text{
    margin-top: -200px;
    display: flex;
    justify-content: flex-start;
    margin-left: 160px;
    width: 448px;

    


    .Shoppers_Text{

        font-weight: 700;
    }

}

.sell_btn{
    margin-left:166px;
    margin-top: -75px;

.sell{

    border:1px soild #0baf4d;
    width:160px;
    height:50px;
    color: #fff;
    line-height: 50px;
    background-color: #0baf4d;
    cursor: pointer;
    border-radius:25px;
    text-align: center;
}

}

.best_images_section{

    background-color: #fff;
    padding-bottom: 70px;
    padding-top: 70px;

.best_images{

    .open_images{
        width: 100%;
        height: 100%;
        border-radius:10px;
    }
}

.best_fees_text{


    .best_content{

        .best_start{

            font-weight: 600;

        }

        .Affordable{

             font-weight: 600;
             font-size: 15px;
             color: #0baf4d;
        }

        .cost_list{

            font-weight: 600;
            font-size:15px;
        }


    }

    .Power_support_lowfees_images{

        display: flex;
        .powerfull{

            width:100%;
            height: 100%;

        }

        .support{

            width:100%;
            height: 100%;

        }

        .Lowfees{

            width:100%;
            height: 100%;

        }

    }

    .sellus_btn{

        font-weight: 600;
        border:1px solid #0baf4d;
        border-radius: 15px;
        width:160px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #0baf4d;
        color: #fff;
    }

}

}