.carousel-indicators {
  display: none;
}

.w-100 {
  width: 100% !important;
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}
.carousel {
  position: relative;
}
