.related_image_slider{

    display: none;

    @media screen and (max-width:899px){

        display: block;

    }

.pro_ducts_1{

    border:1px solid #ededed;
    width:100% !important;
    height: auto;
    margin-top: -15px;
    margin-left: -3px;

    .related_contents{

        text-align: center;
        font-size:14px;

        .cart2{
     
        display: flex;
        justify-content: center;
        margin-bottom: 30px;

        .addtocart2{

            border: 1px solid  #0baf4d ;
            margin-bottom: 20px;
            border-radius: 15px;
            width: 80%;
            color: #0baf4d;
            text-align: center;
            padding: 7px 0px 8px 0px;
            cursor: pointer;

            &:hover{

                color:#fff;
                background-color:#0baf4d;
                cursor: pointer;
            }


        }

        }

        .remove_price{

            text-decoration: line-through;

        }

        .right_price{

            color:red;
        }

        .images_contents{

            display: flex;
            justify-content: center;

        }

    }

    .products_images{

        width:100%;
        height: 100%;

    }


}

}

.slick-initialized .slick-slide{

    padding-top: 0px;
    padding-right: 0px;
    padding-left: 3px;
}

